<h2>Reporte de viajes por vehiculo</h2>
<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th *ngFor="let item of header">{{item}}</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let vehicleTrip of vehicleTrips">-->
<!--    <td>{{vehicleTrip.vehiclePlate}}</td>-->
<!--    <td>{{vehicleTrip.tripOrigin}}</td>-->
<!--    <td>{{vehicleTrip.tripDestination}}</td>-->
<!--    <td>{{vehicleTrip.profit}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<table mat-table [dataSource]="datasource">
  <ng-container matColumnDef="vehiclePlate">
    <th mat-header-cell *matHeaderCellDef> Placa </th>
    <td mat-cell *matCellDef="let element"> {{element.vehiclePlate}} </td>
  </ng-container>
  <ng-container matColumnDef="tripOrigin">
    <th mat-header-cell *matHeaderCellDef> Origen </th>
    <td mat-cell *matCellDef="let element"> {{element.tripOrigin}} </td>
  </ng-container>
  <ng-container matColumnDef="tripDestination">
    <th mat-header-cell *matHeaderCellDef> Destino </th>
    <td mat-cell *matCellDef="let element"> {{element.tripDestination}} </td>
  </ng-container>
  <ng-container matColumnDef="profit">
    <th mat-header-cell *matHeaderCellDef> Ganancia </th>
    <td mat-cell *matCellDef="let element"> {{element.profit}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="header"></tr>
  <tr mat-row *matRowDef="let row; columns: header;"></tr>
</table>
